<% if (j["http://schema.org/mainEntityOfPage"] && j["http://schema.org/mainEntityOfPage"]["@id"] && j["http://schema.org/mainEntityOfPage"]["@id"].startsWith(process.env.IRI_PREFIX_OF_SELF + "/entity")) { %>

    <a href="<%= j["http://schema.org/mainEntityOfPage"]["@id"] + "/csv" %>" class="btn btn-primary">
        <i class="fas fa-download"></i>
        Download CSV
    </a>
<% } %>
